# Mini Python Bonus 3
How to work with plain text data using `Pandas`

### What's is our toy dataset?

In [ ]:
import os

In [ ]:
cwd = os.getcwd()

In [ ]:
cwd

In [ ]:
root_dir = os.path.dirname(os.path.dirname(os.path.dirname(cwd)))
babynames_path = os.path.join(root_dir, 'datasets', 'babynames')
os.path.join(babynames_path, 'yob2016.txt')

In [ ]:
# command line tool
!head -n 10 /Users/jin/minipy/datasets/babynames/yob2016.txt

In [ ]:
!grep "Alice" /Users/jin/minipy/datasets/babynames/yob2016.txt

In [2]:
import pandas as pd

baby2016 = pd.read_csv("/Users/jin/minipy/datasets/babynames/yob2016.txt",
                           names=['name', 'gender', 'nbirth'])

baby2016.head()

       name gender  nbirth
0      Emma      F   19414
1    Olivia      F   19246
2       Ava      F   16237
3    Sophia      F   16070
4  Isabella      F   14722

In [11]:
# let's have a look top 5 names for girls and boys
baby2016.sort_values(['gender','nbirth'], ascending=False).groupby('gender').head(5)

           name gender  nbirth
18757      Noah      M   19015
18758      Liam      M   18138
18759   William      M   15668
18760     Mason      M   15192
18761     James      M   14776
0          Emma      F   19414
1        Olivia      F   19246
2           Ava      F   16237
3        Sophia      F   16070
4      Isabella      F   14722

### Concat all the files into one dataset

In [ ]:
sub_df = []
columns = ['name', 'gender', 'nbirth']

for year in range(1880, 2017):
    path = "/Users/jin/minipy/datasets/babynames/yob{}.txt".format(year)
    csv  = pd.read_csv(path, names=columns)
    csv['year']=year
    
    sub_df.append(csv)
    
    df = pd.concat(sub_df, ignore_index=True)

In [ ]:
df.info()

In [ ]:
df.head()

### Play with the dataset

In [ ]:
total_nbirth = df.pivot_table('nbirth', index='year', 
                              columns='gender', aggfunc=sum)

In [ ]:
total_nbirth.head()

In [ ]:
total_nbirth.plot(title="Total number of births, by gender and year")