# PostgreSQL & WRDS
by Dr Liang Jin

- Part of Mini Python Sessions: [github.com/drliangjin/minipy](https://github.com/drliangjin/minipy)

- Official Guide/Documentation of PostgreSQL: [www.postgresql.org/docs](https://www.postgresql.org/docs/current/tutorial.html)

- WRDS Python Connection: [wrds-www.wharton.upenn.edu](https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/python-from-your-computer/)

## Connect WRDS

### Initial Setup

In [1]:
# Install WRDS and associated modules necessary using pip
try:
    import wrds
except ImportError:
    !pip install wrds

In [2]:
# Create a connection to WRDS server
# You will be asked for your username and passwords

conn = wrds.Connection()

# Optionally, you can create pgpass file to store your passwords locally
# conn.create_pgpass_file()

/usr/local/miniconda3/envs/minipy/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Enter your WRDS username [jin]:jinlums
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

### WRDS data Workflow

#### Datasets Overview

In [3]:
import random
# get all WRDS databases/libraries/Schema
libraries = conn.list_libraries()

random.sample(libraries, 10)

['calcbnch',
 'msfinst',
 'mrktsamp_msf',
 'centris',
 'zacks',
 'eureka',
 'ibeskpi',
 'secsamp',
 'ims_obp_trial',
 'contrib_char_returns']

In [4]:
# get all tables stores in a specific library
library = "crsp"

tables = conn.list_tables(library = library)

random.sample(tables, 10)

['tfz_mth',
 'dssc',
 'dsbc',
 'hldave12',
 'priave12',
 'dport9',
 'ccmxpf_linktable',
 'msib',
 's6z_nam',
 'crsp_ziman_monthly_index']

In [5]:
# determine the column headers within a given dataset
library = "crsp"

table = "dse"

conn.describe_table(library = library, table  = table).head()

Approximately 11216100 rows in crsp.dse.

     name  nullable              type
0   event      True        VARCHAR(8)
1    date      True              DATE
2  hsicmg      True  DOUBLE PRECISION
3  hsicig      True  DOUBLE PRECISION
4  comnam      True       VARCHAR(32)

#### Peek into a dataset

In [6]:
# get_table approach
# limit our queries
library = "crsp"
table = "dsf"
columns = ["cusip, permno, permco, date, prc, openprc, bid, bidlo, ask, askhi, vol, ret, retx"]
obs = 20

# retrieve the whole dataset, without modification/manipulation
conn.get_table(library = library, table = table, columns = columns, obs = obs)

,cusip,permno,permco,date,prc,openprc,bid,bidlo,ask,askhi,vol,ret,retx
0,88162F10,76127.0,10544.0,2006-06-07,28.010000,29.770000,27.980000,27.500000,28.000000,30.250000,1798100.0,-0.062270,-0.062270
1,88162F10,76127.0,10544.0,2006-06-08,27.280001,27.000000,27.309999,24.250000,27.320000,28.020000,2701300.0,-0.026062,-0.026062
2,88162F10,76127.0,10544.0,2006-06-09,26.330000,27.700001,26.320000,25.900000,26.330000,28.299999,1175200.0,-0.034824,-0.034824
3,88162F10,76127.0,10544.0,2006-06-12,24.600000,26.230000,24.600000,24.549999,24.610001,26.230000,1701600.0,-0.065705,-0.065705
4,88162F10,76127.0,10544.0,2006-06-13,23.500000,24.600000,23.480000,23.049999,23.510000,24.980000,1661700.0,-0.044715,-0.044715
5,88162F10,76127.0,10544.0,2006-06-14,24.000000,23.430000,23.799999,23.100000,24.059999,24.330000,1039800.0,0.021277,0.021277
6,88162F10,76127.0,10544.0,2006-06-15,26.240000,24.360001,26.260000,24.200001,26.270000,26.350000,1255800.0,0.093333,0.093333
7,88162F10,76127.0,10544.0,2006-06-16,27.280001,26.280001,27.260000,26.010000,27.280001,27.500000,2622500.0,0.039634,0.039634
8,88162F10,76127.0,10544.0,2006-06-19,25.370001,27.250000,25.360001,25.299999,25.370001,27.290001,1326300.0,-0.070015,-0.070015
9,88162F10,76127.0,10544.0,2006-06-20,24.820000,25.299999,24.850000,24.740000,24.860001,26.010000,940600.0,-0.021679,-0.021679
10,88162F10,76127.0,10544.0,2006-06-21,25.850000,24.830000,25.850000,24.540001,25.860001,26.430000,1187600.0,0.041499,0.041499
11,88162F10,76127.0,10544.0,2006-06-22,25.430000,25.889999,25.410000,24.969999,25.420000,26.110001,872000.0,-0.016248,-0.016248
12,88162F10,76127.0,10544.0,2006-06-23,26.840000,25.680000,26.820000,25.490000,26.850000,27.490000,1150300.0,0.055446,0.055446
13,88162F10,76127.0,10544.0,2006-06-26,27.370001,26.860001,27.340000,26.600000,27.400000,27.770000,972600.0,0.019747,0.019747
14,88162F10,76127.0,10544.0,2006-06-27,26.950001,27.500000,26.889999,26.709999,26.920000,28.180000,999200.0,-0.015345,-0.015345
15,88162F10,76127.0,10544.0,2006-06-28,27.280001,27.020000,27.260000,26.219999,27.280001,27.570000,758900.0,0.012245,0.012245
16,88162F10,76127.0,10544.0,2006-06-29,28.820000,27.600000,28.790001,27.299999,28.799999,28.889999,1136300.0,0.056452,0.056452
17,88162F10,76127.0,10544.0,2006-06-30,30.340000,29.530001,30.240000,28.600000,30.280001,30.340000,4003600.0,0.052741,0.052741
18,88162F10,76127.0,10544.0,2006-07-03,30.260000,30.290001,30.280001,30.100000,30.309999,30.780001,861000.0,-0.002637,-0.002637
19,88162F10,76127.0,10544.0,2006-07-05,30.370001,30.270000,30.309999,28.900000,30.350000,30.870001,1051200.0,0.003635,0.003635

## SQL & PostgreSQL

SQL, or Structured Query Language, is a language designed to allow both technical and non-technical users:

- query data
- manipulate data
- transform data

from relational databases. PostgreSQL is arguably the best open-source relational database, others include MySQL, Oracle and Microsoft SQL server.

##### Basic syntax (1):
- `SELECT`: retrieve data
- `FROM`: from a table using a format of **library.table**
- `LIMIT`: limit observations, or we will stuck with a large data table for a very very long time...

In [7]:
# SQL quary statment
stmt = """
SELECT * 
FROM crsp.dsf 
LIMIT 10
"""

# Connect to WRDS PostgreSQL databases
conn.raw_sql(stmt)

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,vol,ret,bid,ask,shrout,cfacpr,cfacshr,openprc,numtrd,retx
0,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-07,27.500000,30.250000,28.010000,1798100.0,-0.062270,27.980000,28.000000,71422.0,1.0,1.0,29.770000,None,-0.062270
1,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-08,24.250000,28.020000,27.280001,2701300.0,-0.026062,27.309999,27.320000,71422.0,1.0,1.0,27.000000,None,-0.026062
2,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-09,25.900000,28.299999,26.330000,1175200.0,-0.034824,26.320000,26.330000,71422.0,1.0,1.0,27.700001,None,-0.034824
3,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-12,24.549999,26.230000,24.600000,1701600.0,-0.065705,24.600000,24.610001,71422.0,1.0,1.0,26.230000,None,-0.065705
4,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-13,23.049999,24.980000,23.500000,1661700.0,-0.044715,23.480000,23.510000,71422.0,1.0,1.0,24.600000,None,-0.044715
5,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-14,23.100000,24.330000,24.000000,1039800.0,0.021277,23.799999,24.059999,71422.0,1.0,1.0,23.430000,None,0.021277
6,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-15,24.200001,26.350000,26.240000,1255800.0,0.093333,26.260000,26.270000,71422.0,1.0,1.0,24.360001,None,0.093333
7,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-16,26.010000,27.500000,27.280001,2622500.0,0.039634,27.260000,27.280001,71422.0,1.0,1.0,26.280001,None,0.039634
8,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-19,25.299999,27.290001,25.370001,1326300.0,-0.070015,25.360001,25.370001,71422.0,1.0,1.0,27.250000,None,-0.070015
9,88162F10,76127.0,10544.0,14218.0,1.0,1311.0,2006-06-20,24.740000,26.010000,24.820000,940600.0,-0.021679,24.850000,24.860001,71422.0,1.0,1.0,25.299999,None,-0.021679

##### Basic syntax (2):
- `*`: all columns in a table
- alternative: we can pick the columns we want

In [8]:
# SQL quary statment
stmt = """
SELECT cusip, permno, permco, date, prc, openprc, bid, bidlo, ask, askhi, vol, ret, retx
FROM crsp.dsf
LIMIT 10
"""
# Connect to WRDS PostgreSQL databases
data = conn.raw_sql(stmt)

In [9]:
# data overview
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
cusip      10 non-null object
permno     10 non-null float64
permco     10 non-null float64
date       10 non-null object
prc        10 non-null float64
openprc    10 non-null float64
bid        10 non-null float64
bidlo      10 non-null float64
ask        10 non-null float64
askhi      10 non-null float64
vol        10 non-null float64
ret        10 non-null float64
retx       10 non-null float64
dtypes: float64(11), object(2)
memory usage: 1.1+ KB

In [10]:
# head()
data.head()

,cusip,permno,permco,date,prc,openprc,bid,bidlo,ask,askhi,vol,ret,retx
0,88162F10,76127.0,10544.0,2006-06-07,28.010000,29.770000,27.980000,27.500000,28.000000,30.250000,1798100.0,-0.062270,-0.062270
1,88162F10,76127.0,10544.0,2006-06-08,27.280001,27.000000,27.309999,24.250000,27.320000,28.020000,2701300.0,-0.026062,-0.026062
2,88162F10,76127.0,10544.0,2006-06-09,26.330000,27.700001,26.320000,25.900000,26.330000,28.299999,1175200.0,-0.034824,-0.034824
3,88162F10,76127.0,10544.0,2006-06-12,24.600000,26.230000,24.600000,24.549999,24.610001,26.230000,1701600.0,-0.065705,-0.065705
4,88162F10,76127.0,10544.0,2006-06-13,23.500000,24.600000,23.480000,23.049999,23.510000,24.980000,1661700.0,-0.044715,-0.044715

##### Basic syntax (3):
- `WHERE`: we can send queries with constrains
- `AND/OR`: more conditions
- `NULL`: select query with null or non-null value

- `=, !=, <, <=, >, >=`: standard numerical operators
- `BETWEEN...AND...`: number is within range of two values (inclusive)
- `IN`: number exists in a list
- `NOT`: not...

In [11]:
# SQL quary statment
stmt = """
SELECT cusip, permno, permco, date, prc, openprc, bid, bidlo, ask, askhi, vol, ret, retx
FROM crsp.dsf
WHERE permno = 14593
"""
# Connect to WRDS PostgreSQL databases
conn.raw_sql(stmt).head()

,cusip,permno,permco,date,prc,openprc,bid,bidlo,ask,askhi,vol,ret,retx
0,03783310,14593.0,7.0,1981-02-04,-28.6875,NaN,NaN,28.625,NaN,28.750,NaN,0.036117,0.036117
1,03783310,14593.0,7.0,1981-02-05,-28.7500,NaN,NaN,28.625,NaN,28.875,NaN,0.002179,0.002179
2,03783310,14593.0,7.0,1981-02-06,-28.8125,NaN,NaN,28.750,NaN,28.875,NaN,0.002174,0.002174
3,03783310,14593.0,7.0,1981-02-09,-27.3750,NaN,NaN,27.250,NaN,27.500,NaN,-0.049892,-0.049892
4,03783310,14593.0,7.0,1981-02-10,-27.3125,NaN,NaN,27.250,NaN,27.375,NaN,-0.002283,-0.002283

## Task Set 1:
1. Find the data with permno: permno: 14593 and 10107 (Apple and Microsoft)
2. Find the above data with date between 01/01/2000 and 31/12/2018, 
3. Find the above data with returns higher than 10%

In [ ]:
# Your codes start HERE #

# Your codes end HERE #

#### Basic syntax (4):
- `ORDER BY`: select query with ordered results
- `LIMIT` and `OFFSET`(optional): select query with limited results

In [ ]:
# SQL quary statment
stmt = """
SELECT cusip, permno, permco, date, prc, openprc, bid, bidlo, ask, askhi, vol, ret, retx
FROM crsp.dsf
ORDER BY cusip DESC
LIMIT 100 OFFSET 10
"""

# Connect to WRDS PostgreSQL databases
conn.raw_sql(stmt).head()

#### Intermedia Syntax (1)
- `INNER JOIN`: generates only records matched on both/all tables
- `LEFT JOIN` and `RIGHT JOIN`: retains all records from **left** or **right** table and merge with new columns
- `FULL JOIN`: results in a large data, combining both/all tables

In [12]:
# SQL quary statment
dsf = """
SELECT permno, date, prc, ret
FROM crsp.dsf
WHERE permno = 14593
ORDER BY date DESC
LIMIT 10
"""

# Connect to WRDS PostgreSQL databases
conn.raw_sql(dsf).head()

    permno        date         prc       ret
0  14593.0  2018-12-31  157.740005  0.009665
1  14593.0  2018-12-28  156.229996  0.000512
2  14593.0  2018-12-27  156.149994 -0.006490
3  14593.0  2018-12-26  157.169998  0.070422
4  14593.0  2018-12-24  146.830002 -0.025874

In [13]:
# SQL quary statment
dse = """
SELECT permno, date, event
FROM crsp.dse
WHERE permno = 14593
ORDER BY date DESC
LIMIT 10
"""

# Connect to WRDS PostgreSQL databases
conn.raw_sql(dse).head()

    permno        date   event
0  14593.0  2018-12-31  NASDIN
1  14593.0  2018-12-31  DELIST
2  14593.0  2018-11-12  NASDIN
3  14593.0  2018-11-08    DIST
4  14593.0  2018-10-26  SHARES

In [14]:
# SQL quary statment
join = """
SELECT crsp.dsf.permno, crsp.dsf.date, crsp.dsf.prc, crsp.dsf.ret, crsp.dse.event
FROM crsp.dsf
INNER JOIN crsp.dse
ON crsp.dsf.permno = crsp.dse.permno
AND crsp.dsf.date =  crsp.dse.date
WHERE crsp.dsf.permno = 14593
ORDER BY date DESC
LIMIT 10
"""

# Connect to WRDS PostgreSQL databases
conn.raw_sql(join).head()

    permno        date         prc       ret   event
0  14593.0  2018-12-31  157.740005  0.009665  DELIST
1  14593.0  2018-12-31  157.740005  0.009665  NASDIN
2  14593.0  2018-11-12  194.169998 -0.050374  NASDIN
3  14593.0  2018-11-08  208.490005 -0.003477    DIST
4  14593.0  2018-10-26  216.300003 -0.015924  SHARES

### Task Set 2:
1. Try `LEFT JOIN`
2. Try `RIGHT JOIN`
3. Try `FULL JOIN`

#### Intermedia Syntax (2):
- `AS`: regular columns and even tables can have aliases to make them easier to reference

In [15]:
# SQL quary statment
join = """
SELECT a.permno, a.date, a.prc AS price, a.ret * 100 AS return, b.event
FROM crsp.dsf AS a
INNER JOIN crsp.dse AS b
ON a.permno = b.permno
AND a.date =  b.date
WHERE a.permno = 14593
ORDER BY a.date DESC
LIMIT 10
"""

# Connect to WRDS PostgreSQL databases
conn.raw_sql(join).head()

    permno        date       price    return   event
0  14593.0  2018-12-31  157.740005  0.966530  DELIST
1  14593.0  2018-12-31  157.740005  0.966530  NASDIN
2  14593.0  2018-11-12  194.169998 -5.037415  NASDIN
3  14593.0  2018-11-08  208.490005 -0.347698    DIST
4  14593.0  2018-10-26  216.300003 -1.592357  SHARES

#### Intermedia Syntax (3):
- Aggregation Functions (e.g., `AVG`, `MAX` and so on): aggregate expressions that allow us to summarize information about a group of rows of data
- `DISTINCT`: remove duplicates
- `GROUP BY`: specify individual groups
- `HAVING`: a `WHERE` condition for the `GROUP BY` clause to filter grouped rows from the result set

In [16]:
# Demo

# SQL quary statment
stmt = """
SELECT permno, MAX(prc) AS max_prc, AVG(ret) AS avg_ret
FROM crsp.dsf
WHERE permno IN (14593, 10107)
GROUP BY permno
"""

# Connect to WRDS PostgreSQL databases
conn.raw_sql(stmt)

    permno     max_prc   avg_ret
0  10107.0  179.937500  0.001124
1  14593.0  702.099976  0.001044

#### Advanced Features:
- Sub-queries: nest queries to allow complicated dataset transformation (for example, `FROM (SELECT * FROM...)`)
- Window Functions: perform a comprehensive calculation across a set of table rows
- Control Structures: perform complicated data manipulations (`CASE...WHEN...END CASE`, `IF...THEN...ELSE...END IF`)

In [17]:
# SQL quary statment
stmt = """
SELECT permno, ret, 
AVG(ret) OVER (PARTITION BY permno) AS avg_ret, 
ret - AVG(ret) OVER (PARTITION BY permno) AS abnorm_ret
FROM crsp.dsf
WHERE permno IN (14593, 10107)
"""

# Connect to WRDS PostgreSQL databases
conn.raw_sql(stmt).head()

    permno       ret   avg_ret  abnorm_ret
0  10107.0       NaN  0.001124         NaN
1  10107.0  0.035714  0.001124    0.034590
2  10107.0  0.017241  0.001124    0.016117
3  10107.0 -0.025424  0.001124   -0.026548
4  10107.0 -0.017391  0.001124   -0.018515